body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeefff;
}
.header{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: sans-serif;
  margin: 10px 0px;
}
.container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image{
  height: 200px;
  width: 80vw;
  /* border: 1px solid black; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('images/in.svg');
  border-radius: 3px;
  box-shadow: 0px 0px 5px 3px grey;
  transition: background-image 0.6s ease;
}
.select-options{
  /* border: 1px solid black; */
  width: 80vw;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  height: 70px;
  padding: 0px 20px;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 3px;
  border: none;
  background-color: white;
}
.options:hover{
  transform: scale(1.05);
  border: 2px solid #4285f4;
  box-shadow: 0px 0px 7px 2px #4285f4;
}


.footer{
  /* border: 1px solid black; */
  display:flex;
  justify-content: space-evenly;
  font-family: 'Varela Round',sans-serif;
  align-items: center;
  font-size: 18px;
  box-sizing: border-box;
  padding: 0 40px;
}
hr{
  border: none;
}
.name{
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .logo{
    width: 400px;
  }
  .header{
    justify-content: space-between;
    padding: 0px 115px;
  }
  .container{
    flex-direction: row;
    padding:50px 50px;
  }
  .image{
    width: 500px;
    height: 290px;
  }
  .options{
    margin: 0;
  }
  .select-options{
    padding: 0;
    width: 500px;
    height: 290px;
    justify-content: space-between;
  }
  .footer{
    padding: 0px 115px;
  }
  hr{
    width: 70px;
    outline: none;
    border:0px;
    border-bottom: 7px dotted grey;
    background-color:inherit;
    opacity: 0.5;
  }
}
.name:hover{
  color: #4285f4;
  border-bottom: 2px dashed #4285f4;
}
.fab:hover{
  color: #4285f4;
  transform: scale(1.2);
}
a{
  text-decoration: none;
  color: inherit;
}
